/*****************************************************************************
// Copyright 2010 Sync Butler and its original developers.
// This file is part of Sync Butler (http://www.syncbutler.org).
// 
// Sync Butler is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
// 
// Sync Butler is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
// 
// You should have received a copy of the GNU General Public License
// along with Sync Butler.  If not, see <http://www.gnu.org/licenses/>.
//
/*****************************************************************************/

* 
{
	font-size: 10pt;
	font-family: monospace;
}

type 
{
	display: inline;
	color: #fff;
}

timestamp 
{
	display: inline;
	padding: 2px;
	border-top: none;
	border-left: none;
	color: #ddd;
}

log 
{
	display: block;
	margin: 5px 5px 0 5px;
	border: 1px solid #000;
	padding: 3px;
	background-color: #333;
}

message 
{
	background-color: #fff;
	display: block;
	padding: 2px;
}