* 
{
	font-size: 10pt;
	font-family: monospace;
}

type 
{
	display: inline;
	color: #fff;
}

timestamp 
{
	display: inline;
	padding: 2px;
	border-top: none;
	border-left: none;
	color: #ddd;
}

log 
{
	display: block;
	margin: 5px 5px 0 5px;
	border: 1px solid #000;
	padding: 3px;
	background-color: #000;
}

message 
{
	background-color: #fff;
	display: block;
	padding: 2px;
}